// https://colorswall.com/palette/36341

$black: rgb(0, 0, 0);
$dimBlack: rgb(20, 20, 20);
$lightBlack: rgb(40, 40, 40);
$blackShadow: rgba(0,0,0,0.2);

$white: rgb(255, 255, 255);
$dimWhite: rgb(200, 200, 200);
$lightWhite: rgb(240, 240, 240);

$red: rgb(204, 36, 36);
$orange: #FF7E34; 
$green: rgb(60, 147, 59);

$lightLightPurple: rgb(152, 97, 214); 
$lightPurple: rgb(116, 28, 215); 
$purple: rgb(68, 19, 130);

$lightLavender: #fcf9ff;
$lavender: #f9f3ff;
$midLavender:#efe2ff;
$darkLavender: #e9d6fe;

$lightBlue: #deeff5;
$blue: blue;
$darkBlue: darkblue;

$lightGrey: lightgrey;
$grey: darkgrey;
$slateGrey: slategrey;
$darkSlateGrey: darkSlateGrey;
